[submodule "model-generator"]
	path = model-generator
	url = git@github.com:plues/model-generator.git
[submodule "musterstudienplaene"]
	path = musterstudienplaene
	url = https://github.com/plues/musterstudienplaene
