#body {
    -fx-background-color: white;
}

#timeTable .headerLabel {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#timeTable .time {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 0 0;
}

#timeTable .day {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 0 1 0;
}

#timeTable .list-view {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 1 0;
}

#timeTable .dragged-over .list-cell {
    -fx-background-color: #eaeef7;
}

#batchListView .list-cell:odd {
    -fx-control-inner-background: #F2F2F2;
}

.conflicted-semester {
    -fx-base: #ffbaba;
}

.conflicted-session {
    -fx-background-color: #ffbaba;
    -fx-text-fill: aliceblue;
}

.red-border {
    -fx-border-width: 2px;
    -fx-border-color: red;
    -fx-border-style: solid;
}

/* Conflict Matrix */
.legend-box {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.matrix-cell {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, white;
}

/* TODO: remove these and use color classes below, once we update the matrix cells directly */
.matrix-cell-ignored {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, #BDBDBD;
}

.matrix-cell-impossible {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, #FA80AA;
}

.matrix-cell-failure {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, #FFBABA;
}

.matrix-cell-timeout {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, #FEEFB3;
}

.matrix-cell-success {
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: black, #DFF2BF;
}

#gridPaneLegend {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: #bdbdbd;
}

.ignored {
    -fx-background-color: #BDBDBD;
}

/* Task state colors */
.impossible {
    -fx-background-color: #fa80aa;
}

.infeasible, .failure {
    -fx-background-color: #FFBABA;
}

.timeout, .warning {
    -fx-background-color: #FEEFB3;
}

.feasible, .success {
    -fx-background-color: #DFF2BF;
}

.scheduled {
    -fx-background-color: #FCEFEF;
}

.ready {
    -fx-background-color: #FCEFEF;
}

.running {
    -fx-background-color: #5386E4;
}

.tentative {
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.h1 {
    -fx-font-size: 30;
}

.h2 {
    -fx-font-size: 20;
}

.split-pane-divider {
    -fx-background-color: #D8D8D8;
    -fx-padding: 0 0.1em 0 0.1em;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.sideBarTabLayout {
    -fx-background-color: #DFDFDF;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #BDBDBD;
    -fx-padding: 5 5 5 5;
    -fx-tab-width: 100px;
    -fx-tab-height: 20px;
}

.sideBarTabVisible:selected, .sideBarTabVisible:hover {
    -fx-background-color: #F4F4F4;
}

.sideBarTabHidden:selected {
    -fx-background-color: #DFDFDF;
}

.sideBarTabHidden:hover {
    -fx-background-color: #F4F4F4;
}

#statusBarLabel {
    -fx-font-size: 9pt;
    -fx-padding: 2 10 0 0;
}

.windowPadding {
    -fx-padding: 20px 20px 20px 20px;
}

.windowPaddingSmall {
    -fx-padding: 10px 10px 10px 10px;
}

.table-view:focused, .list-view:focused, .tree-view:focused, .button:focused, .tree-table-view:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
