#body {
    -fx-background-color: white;
}

#timeTable .headerLabel {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#timeTable .time {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 0 0;
}

#timeTable .day {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 0 1 0;
}

#timeTable .list-view {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 1 0;
}

#batchListView .list-cell:odd {
    -fx-control-inner-background: #F2F2F2;
}

#conflictMatrixCellDefault {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 0 1 1 0 ;
}

#conflictMatrixCellImpossible {
    -fx-background-color: black, #EBC400 ;
    -fx-background-insets: 0, 0 1 1 0 ;
}

#conflictMatrixCellSuccess {
    -fx-background-color: black, #09BC00 ;
    -fx-background-insets: 0, 0 1 1 0 ;
}

#conflictMatrixCellFailed {
    -fx-background-color: black, #D82000 ;
    -fx-background-insets: 0, 0 1 1 0 ;
}